*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppin' , sans-serif;
}

body{
    color: #ededed;
    background: #081b29;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   padding: 20px 10px ;
   background: #051129;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s *var(--i));
}

.navbar a:hover{
    color: #0ef;
}

.home{
    text-transform: capitalize;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    height: 100vh;
    background: url(blue.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 3.6% 0;
}


.home-img img{
    justify-content: center;
    padding-top: 10px;
    padding-right: 10px;
    margin-left: 42px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 60%;
    height: 65vh;
  
}
.home-content{
    max-width: 600px;
    padding-right: -10%;
    margin-top: -110px;
    margin-right: -100px;
    margin-left: -220px;
}

.home-content h3 :nth-of-type(2){
    
    text-transform: capitalize;
    margin-bottom: 40px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    color: #0ef;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(2*var (--i));
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-block;
    padding: 12px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

img{
    box-sizing: border-box;
    border-color: #0ef;
    box-shadow: 10px 20px 30px #0ef;
    background-position: center;
    margin-top: 5rem;
    margin-left: 1rem;
    margin-bottom: 15rem;
    margin-right: 1rem;
}

.about-img img{
    mix-blend-mode:normal;
     max-width: 550px;
     height: 85vh;
     width: 120%;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
}

.about-text{
    margin-top: -90px;
}
.about-text h2{
    font-size: 60px;
    margin-top: -95px;
}

.about-text h2 span{
color: #0ef;
}

.about-text h4 {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;                                                                                                                                                                                                                                                                                                                                                                                                                                        
}

.about-text p{
    text-transform: capitalize;
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

#services{
    margin-top: 3rem;
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4rem;
    margin-bottom: 2rem;
}

.sub-title{
    text-align: center;
    font-size: 60px;
margin-top: 30px;
}

.sub-title span{
color: #0ef;
}
.container{
 padding: 90px;
}

.services-list{
     display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    align-items: center;
    justify-content: center;
    grid-gap: 40px;
    margin-top: 50px; 
    display: flex;
    flex-wrap: nowrap;
}
.services-list div{
    width: 300px;
    margin: 40px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
}

.services-list div{
    margin-top: 90px;
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s , transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7 ,
                1px 1px 40px #0053b8f7
}

.services-list i{

    font-size: 80px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan
}

.services-list div:hover{
  transform: translateY(-10px);
}

section{
    display: flex;
    flex-wrap: wrap;
}

 @keyframes slideRight{ 
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}



@keyframes animate{
    100%{
        transform: scaleX(1);
    }
} 

#Portfolio{
    padding: 5px 50px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    margin-top: -2px;
    margin-bottom: -10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #0ef);
    border-radius: 10px;
    position: absolute;
    font-size: 25px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.work:hover img{
    transform: scale(1.1);

}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #0ef;
    
    padding: 14px 50px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    /* transition: background 0.5s; */
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(2*var (--i));
}
.btn:hover{
    background: #0ef;
    color: #000000;
    box-shadow: 0 0 20px #0ef;
}






.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2{
    font-size: 100px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span{
    color: #0ef;
}

.contact-text h4{
    margin: 15px 0;
    color: rgba(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p{
    color: rgba(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list{
    margin-top: 10px;
    margin-bottom: 3rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var (--i));
}

.contact-icons i:hover{
    background: #0ef;
    color: #000000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form{
    position: relative;
}

.contact-form form input ,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    margin-top: -5px;
    margin-bottom: 0.5rem;
    border-radius: o.5rem;
}

.contact-form textarea{
    resize: none;
    height: 220px;
}

.contact-form form .send{
    display: inline-block;
    padding: 14px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.contact-form form .send{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7,85,91);
    font-weight: 300;
    margin-top: 20px;
}

.top{
    margin-top: -40px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

.top i{
    height: 60px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;  
}